$App-Heading-color: #ff784f;
$App-Main-color: #3a3042;
$App-text-color: #38a700;
$App-btn-color: #1f1f38;
$App-btn-bg: #fbbb09;
$App-btn-hover: #fe5e41;
$App-font-Heading: "Tilt Prism", cursive;
$App-font-paragraph: "Bricolage Grotesque";

$App-bg-maps: (
  "Dark": #0b0500,
  "Gree": #519872,
  "yello": #ea9010,
);
